#main_grid, #addtohtml1, #instructions, #gridCont, #instrCont, #scoreboardCont, #scoreBoard, body, html{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


@font-face {font-family: SSP-l; src: url('fonts/SourceSansPro-Light.ttf');}
@font-face {font-family: SSP-r; src: url('fonts/SourceSansPro-Regular.otf');}
@font-face {font-family: SSP-sb; src: url('fonts/SourceSansPro-Semibold.ttf');}
@font-face {font-family: SSP-b; src: url('fonts/SourceSansPro-Bold.otf');}
@font-face {font-family: champ-b; src: url('fonts/champagne/champagne_limousinesbold.ttf');}
@font-face {font-family: champ-bi; src: url('fonts/champagne/champagne_limousinesbolditalic.ttf');}
@font-face {font-family: champ-r; src: url('fonts/champagne/champagnelimousines.ttf');}
@font-face {font-family: robo-b; src: url('fonts/roboto/robotocondensed-bold.ttf');}
@font-face {font-family: bebas; src: url('fonts/bebasneue.otf');}
@font-face {font-family: monty; src: url('fonts/montserrat/montserrat-regular.ttf');}
@font-face {font-family: rale-r; src: url('fonts/raleway/raleway-regular.ttf');}


body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
	align-items: center;
	/*margin-left: 4%;*/
}

/*#main_grid {
	height: 400px;
	width: 400px;
	background-color: darkred;
	opacity: 0.5;
}*/

#gridCont {
	position: relative;
	width: auto;
	/*background-color: darkred;*/
	width: 300px;
	height: 660px;
	margin-left: 4%;
}

#addtohtml1 {
	left: 100px;
	top: 100px;
}

.fullCell, .empty, .deadCell, .trial3, .trial4 {
	position: absolute;
	height: 24px;
	width: 24px;
	box-shadow: 1px 1px 3px darkgray;
}

.empty {
	background-color: red;
}

.fullCell {
	background-color: purple;
	box-shadow: 3px 3px 5px darkgray;

}

.trial3 {
	background-color: yellow;
}

.trial4 {
	background-color: goldenrod;
}

.deadCell {
	background-color: gray;
}


#timer {
	position: absolute;
	left: 550px;
	top: 50px;
	width: 180px;
	height: 80px;
	background-color: yellow;
}

#instrCont {
	/*position: absolute;*/
	font-family: monty;
	align-items: center ;
	left: 250px;
	width: auto;
	height: auto;
	/*background-color: yellow;*/
	/*flex-direction: column;*/
	
	/*padding-left: 40px;*/
	margin-top: 20px;
	text-align: center;
}

#instrBtn {
	color: white;
	width: 110px;
	height: auto;
	text-align: center;
	
	background-color: darkblue;
	/*padding: 10px;*/
	border-radius: 5px;
	font-family: monty;
	vertical-align: middle;
	height: 40px;
	margin: 40px; 

}

#instructions {
	flex-direction: column;
	justify-content: center;
	height: 300px;
	/*background-color: goldenrod;*/
	-webkit-transition: width 0.4s ease;
	transition: width 0.4s ease;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 5px;
}

.iSmall {
	width: 0px;
}

.iBig {
	width: 300px;
}

#pauseCont {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 400px;
	top: 200px;
	width: 100px;
	height: 100px;
	margin: 0px;
	z-index: 1;
}

#pauseBtn {
	width: 100px;
	height: 100px;
}

#scoreboardCont {
	height: 95%;
	width: 300px;
	justify-content: center;
	align-items: center;
	background-color: darkgreen;
}

#scoreBoard {
	flex-direction: column;
	justify-content: center;
	width: 70%;
	height: 175px;
	color: white;
	font-family: bebas;
	border: 3px solid black;
	box-shadow: 2px 2px 5px rgb(1,54,1);
	/*box-shadow: 2px 2px 5px darkgreen;*/
}

#scoreTit {
	margin-left: 10%;
	font-size: 30px;
}

#score {
	margin-left: 40%;
	font-size: 100px;
}
